/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url('../fonts/Muli.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* Utils */

div.spacer-50 {
    min-height:50px;
}

div.spacer-15 {
    min-height:15px;
}

div.bordered-spacer-10 {
    min-height: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #bbb;
    width: 100%;
    margin-left : auto;
    margin-right: auto;
}

.opacity-95 {
    opacity: .95;
}

.disabled-link-no-hover:hover {
    color: #9A9A9A !important;
}

/* Trend List */

a .trend-tile .card:hover {
    box-shadow: 0 18px 18px rgba(204, 197, 185, 0.5);
}

.trend-tile .card {
    height: 210px;
}

.trend-icon {
    font-size: 6em;
    display: inline;
}

.trend-detail {
    text-align: right;
    margin-top: 50%;
}

@media (max-width: 900px) {
    .trend-tile-left-padding {
        display:none;
    }

    .trend-icon {
        font-size: 4em;
        display: inline;
    }
}

@media (max-width: 780px){
    .trend-detail {
        display: none;
    }
    .trend-icon {
        font-size: 4em;
        display: inline;
    }
}

@media (max-width: 780px){
    .trend-detail {
        display: none;
    }
    .trend-icon {
        font-size: 4em;
        display: inline;
    }
}

.icon-create-alert {
    color: #888;
}

/* Notification List */

.notification-list {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.notification-list table {
    margin-bottom: none
}

.notification-list tr:first-child td {
    border-top: none
}

/* Landing Page Background */

.landing-background {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 74px;
    left: 0;
}

.main-panel {
    width: 100%;
}

.stretch {
    width:100%;
    height:100%;
}

/* Paper dashboard theme card class customizations */

.header-underlined {
    border-bottom: 1px solid #bbb;
    padding-bottom: 20px !important;
}

.card-transparent {
    background: transparent;
    box-shadow: none
}

/* Footer */
footer {
    background-color: #68B3C8;
}

/* Notifications */
.site-notification-container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 400px;
    padding: 0 15px;
    max-height: calc(100% - 30px);
    overflow-x: hidden;
    overflow-y: auto;
}

.site-notification {
    box-sizing: border-box;
    position: relative;
    opacity: 0.9;
    margin-top: 20px;
    transition: all 0.5s ease-in-out
}
